:host {
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
}

.item:hover {
    background: #e9e9e9;
    margin: 7px 0;
}

.item {
    margin: 5px 0;
    font-size: 1.2rem;
    span, .form-check-input, .title {
        cursor: pointer;
    }
    span {
        color: rgb(208, 0, 0);
    }
    span:first-child {
        color: rgb(4, 113, 209);
    }
}

.done-item {
    .title {
        text-decoration: line-through;
        color: gray;
    }
}

.go-top {
    position: fixed;
    right: 2rem;
    bottom: 2vw;
    font-size: 5rem;
    color: darkslategray;
    cursor: pointer;
}